body {
    margin: 0;
    line-height: normal;
  }

  :root {
    /* fonts */
    --font-montserrat: Montserrat;
    --font-apoc-normal-trial: Apoc-Revelations-Trial-Light;
  
    /* Colors */
    --natural: #f0efea;
    --black: #19191e;
    --color-black: #000;
    --naranja-fuerte: #f42d1f;
    --color-white: #fff;
    --bordo-sangre: #880c1b;
  }
